@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;

}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./mountain.jpg) center;
    background-size: cover;

}

.login-box {
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

form {
    display: flex;
    flex-direction: column;
}

.login-header {
    margin-bottom: 20px;
    color: #fff;
}
.login-input{
    position: relative;
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
}

.login-input label{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 16px;
    transform: translateY(-50%);
    color: #fff;
    pointer-events: none;
    transition: 0.15s ease;
}

.login-input input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.login-input input:focus~label,
.login-input input:valid~label{
    font-size: .8rem;
    top: 10px;
    transform: translateY(-120%);
}

.forget{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0px 35px 0;
    color: #fff;
}
#remember {
  accent-color: #fff;
}

.forget label{
    display: flex;
    align-items: center;
}

.forget label p{
    margin-left: 8px;
}

a{
    color: #efefef;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
button{
    color: #000;
    background-color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid transparent;
    transition: 0.3s ease;
    
}

button:hover{
    color: #fff;
    background-color: #fff;
    background: rgba(255,255,255,0.15);
    border:2px solid #fff;
}
.register{
    text-align: center;
    margin-top: 30px;
    color: #fff;
}